<section class='navigation'>
  <div class='wrapper'>

    <div class='black-part bg-black px-2 md:px-40 xl:px-72 flex flex-start items-center gap-10 py-1'>
      <p class='text-white text-sm'>Free shipping on orders over $50</p>
      <p class='text-white text-sm'>30-Days return</p>
    </div>

    <div class='gray-part bg-gray-200 px-2 md:px-40 xl:px-72 py-3 flex justify-between items-center'>
      <div class='flex justify-start items-center gap-4'>
        <h2 class='order-2 uppercase text-4xl font-semibold'>D r e s s</h2>
        <button class='flex hamburger-btn md:hidden'>
          <i class='icon icon-hamburger-menu order-1 bg-black w-6 h-6'></i>
        </button>
        <button class='hidden btn-x'>
          <i class='icon icon-x bg-black w-6 h-6'></i>
        </button>

      </div>

      <div class='icons hidden md:flex md:justify-between md:gap-3'>
        <i class='icon icon-search bg-gray-600 w-4 h-4 cursor-pointer'></i>
        <i class='icon icon-person bg-gray-600 w-4 h-4 cursor-pointer'></i>
        <i class='icon icon-heart bg-gray-600 w-4 h-4 cursor-pointer'></i>
        <i class='icon icon-basket bg-gray-600 w-4 h-4 cursor-pointer'></i>
      </div>
    </div>

    <nav class='nav md:block md:mx-40 xl:mx-72 md:border-b-2 md:border-gray-200 w-auto'>
      <ul
        class='nav-ul relative flex-col bg-white overflow-auto md:mt-2 md:flex-row md:justify-between md:items-center md:gap-12 h-0 transition-all duration-300 md:flex md:h-max md:overflow-visible'
      >
        <li
          class='nav-li px-6 uppercase text-xs xl:text-sm font-semibold py-2 md:py-4 cursor-pointer border-b-4 border-transparent hover:border-emerald-300'
        >New Arrivals
          <div
            class='absolute sub-nav w-full overflow-auto bg-white top-0 md:top-[60px] left-0 md:left-0 flex-col md:flex-row h-56 md:justify-between hidden'
          >
            <div class='back-to flex px-4 capitalize gap-1 items-center btn-arrow-left-short md:hidden'>
              <i class='icon icon-arrow-left-circle mr-1 bg-gray-600 w-6 h-6 cursor-pointer'></i>Back to
              <span class='back-pointer'>pointer</span>
            </div>

            <div class='accordion sub-nav-first pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Shop by category
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div>
              </h4>

              <div
                class='acc-text px-4 transition-all duration-300 shop-by-category-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs md:font-normal font-medium capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Beachwear</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Blouses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Coats</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Denim</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Dresses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jackets</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jeans</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jumpsuits</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Skirts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Shorts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Sweaters</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Tops</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Pants</p>
              </div>

            </div>

            <div class='accordion sub-nav-second pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Trending now
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 trending-now-list hidden md:flex flex-col gap-2 flex-wrap md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Autumn must-haves</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
              </div>

            </div>

            <div class='accordion sub-nav-third pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >What to wear
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 what-to-wear-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For Timeless Style</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For the perfect Jeans fit</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >In Warm Weather</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Ti a Special Event</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On Vacation</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For a Night Out</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On the weekend</p>
              </div>

            </div>

            <div class='sub-nav-four mt-6 mb-32 pl-2 md:pl-0 w-[150px] h-[200px] hidden md:block'>
              <img src='../img/pic.jpg' alt='picture' class='w-full h-full' />
            </div>
          </div>

        </li>
        <li
          class='nav-li px-6 uppercase text-xs xl:text-sm font-semibold py-2 md:py-4 cursor-pointer border-b-4 border-transparent hover:border-emerald-300'
        >Clothing
          <div
            class='absolute sub-nav w-full overflow-auto bg-white top-0 md:top-[60px] left-0 md:left-0 flex-col md:flex-row h-56 md:justify-between hidden'
          >
            <div class='back-to flex px-4 capitalize gap-1 items-center btn-arrow-left-short md:hidden'>
              <i class='icon icon-arrow-left-circle mr-1 bg-gray-600 w-6 h-6 cursor-pointer'></i>Back to
              <span class='back-pointer'>pointer</span>
            </div>
            <div class='accordion sub-nav-first pl-2 md:pl-0'>

              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Shop by category
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 shop-by-category-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Beachwear</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Blouses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Coats</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Denim</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Dresses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jackets</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jeans</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jumpsuits</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Skirts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Shorts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Sweaters</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Tops</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Pants</p>
              </div>

            </div>

            <div class='accordion sub-nav-second pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Trending now
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 trending-now-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Autumn must-haves</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jeans</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jumpsuits</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Skirts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Shorts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Sweaters</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Tops</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Pants</p>
              </div>

            </div>

            <div class='accordion sub-nav-third pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >What to wear
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 what-to-wear-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For Timeless Style</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For the perfect Jeans fit</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >In Warm Weather</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Ti a Special Event</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On Vacation</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For a Night Out</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On the weekend</p>
              </div>

            </div>

            <div class='sub-nav-four mt-6 mb-32 pl-2 md:pl-0 w-[150px] h-[200px] hidden md:block'>
              <img src='../img/pic.jpg' alt='picture' class='w-full h-full' />
            </div>
          </div></li>
        <li
          class='nav-li px-6 uppercase text-xs xl:text-sm font-semibold py-2 md:py-4 cursor-pointer border-b-4 border-transparent hover:border-emerald-300'
        >Collections
          <div
            class='absolute sub-nav w-full overflow-auto bg-white top-0 md:top-[60px] left-0 md:left-0 flex-col md:flex-row h-56 md:justify-between hidden'
          >
            <div class='back-to flex px-4 capitalize gap-1 items-center btn-arrow-left-short md:hidden'>
              <i class='icon icon-arrow-left-circle mr-1 bg-gray-600 w-6 h-6 cursor-pointer'></i>Back to
              <span class='back-pointer'>pointer</span>
            </div>

            <div class='accordion sub-nav-first pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Shop by category
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 shop-by-category-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Beachwear</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Blouses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Coats</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Denim</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Dresses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jackets</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jeans</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jumpsuits</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Skirts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Shorts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Sweaters</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Tops</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Pants</p>
              </div>

            </div>

            <div class='accordion sub-nav-second pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Trending now
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 trending-now-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Autumn must-haves</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
              </div>

            </div>

            <div class='accordion sub-nav-third pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >What to wear
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 what-to-wear-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For Timeless Style</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For the perfect Jeans fit</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >In Warm Weather</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Ti a Special Event</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On Vacation</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For a Night Out</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On the weekend</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Blouses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Autumn must-haves</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
              </div>

            </div>

            <div class='sub-nav-four mt-6 mb-32 pl-2 md:pl-0 w-[150px] h-[200px] hidden md:block'>
              <img src='../img/pic.jpg' alt='picture' class='w-full h-full' />
            </div>
          </div></li>
        <li
          class='nav-li px-6 uppercase text-xs xl:text-sm font-semibold py-2 md:py-4 cursor-pointer border-b-4 border-transparent hover:border-emerald-300'
        >Shoes
          <div
            class='absolute sub-nav w-full overflow-auto bg-white top-0 md:top-[60px] left-0 md:left-0 flex-col md:flex-row h-56 md:justify-between hidden'
          >
            <div class='back-to flex px-4 capitalize gap-1 items-center btn-arrow-left-short md:hidden'>
              <i class='icon icon-arrow-left-circle mr-1 bg-gray-600 w-6 h-6 cursor-pointer'></i>Back to
              <span class='back-pointer'>pointer</span>
            </div>

            <div class='accordion sub-nav-first pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Shop by category
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 shop-by-category-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Beachwear</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Blouses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Coats</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Denim</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Dresses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jackets</p>

              </div>

            </div>

            <div class='accordion sub-nav-second pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Trending now
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 trending-now-list hidden md:flex flex-col gap-2 flex-wrap md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Autumn must-haves</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
              </div>

            </div>

            <div class='accordion sub-nav-third pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >What to wear
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 what-to-wear-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For Timeless Style</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For the perfect Jeans fit</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >In Warm Weather</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Ti a Special Event</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On Vacation</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For a Night Out</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On the weekend</p>
              </div>

            </div>

            <div class='sub-nav-four mt-6 mb-32 pl-2 md:pl-0 w-[150px] h-[200px] hidden md:block'>
              <img src='../img/pic.jpg' alt='picture' class='w-full h-full' />
            </div>
          </div></li>
        <li
          class='nav-li px-6 uppercase text-xs xl:text-sm font-semibold py-2 md:py-4 cursor-pointer border-b-4 border-transparent hover:border-emerald-300'
        >Sales
          <div
            class='absolute sub-nav w-full overflow-auto bg-white top-0 md:top-[60px] left-0 md:left-0 flex-col md:flex-row h-56 md:justify-between hidden'
          >
            <div class='back-to flex px-4 capitalize gap-1 items-center btn-arrow-left-short md:hidden'>
              <i class='icon icon-arrow-left-circle mr-1 bg-gray-600 w-6 h-6 cursor-pointer'></i>Back to
              <span class='back-pointer'>pointer</span>
            </div>

            <div class='accordion sub-nav-first pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Shop by category
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 shop-by-category-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Beachwear</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Blouses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Coats</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Denim</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Dresses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jackets</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jeans</p>

              </div>

            </div>

            <div class='accordion sub-nav-second pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Trending now
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 trending-now-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Autumn must-haves</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jumpsuits</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Skirts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Shorts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Sweaters</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Tops</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Pants</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jumpsuits</p>
              </div>

            </div>

            <div class='accordion sub-nav-third pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >What to wear
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 what-to-wear-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For Timeless Style</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For the perfect Jeans fit</p>

              </div>

            </div>

            <div class='sub-nav-four mt-6 mb-32 pl-2 md:pl-0 w-[150px] h-[200px] hidden md:block'>
              <img src='../img/pic.jpg' alt='picture' class='w-full h-full' />
            </div>
          </div></li>
        <li
          class='nav-li px-6 uppercase text-xs xl:text-sm font-semibold py-2 md:py-4 cursor-pointer border-b-4 border-transparent hover:border-emerald-300'
        >Accessories
          <div
            class='absolute sub-nav w-full overflow-auto bg-white top-0 md:top-[60px] left-0 md:left-0 flex-col md:flex-row h-56 md:justify-between hidden'
          >
            <div class='back-to flex px-4 capitalize gap-1 items-center btn-arrow-left-short md:hidden'>
              <i class='icon icon-arrow-left-circle mr-1 bg-gray-600 w-6 h-6 cursor-pointer'></i>Back to
              <span class='back-pointer'>pointer</span>
            </div>

            <div class='accordion sub-nav-first pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Shop by category
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 shop-by-category-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Beachwear</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Blouses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Coats</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Denim</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Dresses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jackets</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jeans</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jumpsuits</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Skirts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Shorts</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Sweaters</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Tops</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Pants</p>
              </div>

            </div>

            <div class='accordion sub-nav-second pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Trending now
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 trending-now-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Autumn must-haves</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
              </div>

            </div>

            <div class='accordion sub-nav-third pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >What to wear
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 what-to-wear-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For Timeless Style</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For the perfect Jeans fit</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >In Warm Weather</p>

              </div>

            </div>

            <div class='sub-nav-four mt-6 mb-32 pl-2 md:pl-0 w-[150px] h-[200px] hidden md:block'>
              <img src='../img/pic.jpg' alt='picture' class='w-full h-full' />
            </div>
          </div></li>
        <li
          class='nav-li px-6 uppercase text-xs xl:text-sm font-semibold py-2 md:py-4 cursor-pointer border-b-4 border-transparent hover:border-emerald-300'
        >Blog
          <div
            class='absolute sub-nav w-full overflow-auto bg-white top-0 md:top-[60px] left-0 md:left-0 flex-col md:flex-row h-56 md:justify-between hidden'
          >
            <div class='back-to flex px-4 capitalize gap-1 items-center btn-arrow-left-short md:hidden'>
              <i class='icon icon-arrow-left-circle mr-1 bg-gray-600 w-6 h-6 cursor-pointer'></i>Back to
              <span class='back-pointer'>pointer</span>
            </div>

            <div class='accordion sub-nav-first pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Shop by category
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 shop-by-category-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Beachwear</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Blouses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Coats</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Denim</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Dresses</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jackets</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jeans</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Jumpsuits</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Skirts</p>

              </div>

            </div>

            <div class='accordion sub-nav-second pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >Trending now
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 trending-now-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Autumn must-haves</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
              </div>

            </div>

            <div class='accordion sub-nav-third pl-2 md:pl-0'>
              <h4
                class='acc-btn px-4 text-lg flex items-center gap-4 md:text-sm font-semibold md:font-bold hover:text-gray-600 md:hover:text-black capitalize mt-2 md:mt-6 mb-4'
              >What to wear
                <div class='md:hidden'><i
                    class='icon icon-arrow-down-90 transition-all duration-300 bg-gray-600 w-4 h-4 cursor-pointer'
                  ></i></div></h4>

              <div
                class='acc-text px-4 transition-all duration-300 what-to-wear-list hidden md:flex flex-col md:flex-wrap gap-2 md:h-40'
              >
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For Timeless Style</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For the perfect Jeans fit</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >In Warm Weather</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Ti a Special Event</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On Vacation</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For a Night Out</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >On the weekend</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >Starting to cool</p>
                <p
                  class='text-xs font-medium md:font-normal capitalize text-gray-400 mr-0 md:mr-12 hover:text-gray-600'
                >For rainy days</p>
              </div>

            </div>

            <div class='sub-nav-four mt-6 mb-32 pl-2 md:pl-0 w-[150px] h-[200px] hidden md:block'>
              <img src='../img/pic.jpg' alt='picture' class='w-full h-full' />
            </div>
          </div></li>

      </ul>
      <div class='hidden mobile-socials mx-8 mb-2 justify-between items-center gap-12 md:hidden'>
        <p class='text-gray-300'>Facebook</p>
        <p class='text-gray-300'>Instagram</p>
        <p class='text-gray-300'>Twitter</p>
      </div>
    </nav>

  </div>

</section>